*ipynb_checkpoints*
*__pycache__
*.pyc
*opt_at_results.csv
*sorted_at_res.csv
*/workspace/*
*/.signac*
Project-*.o*
signac_project_document.json
Project*-bundle-*
Project*-*
Results/gp_val_figs*
Results-OldGP*